{{!< default}}
<div class="container full-width rounded full-height">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="commitee">
                {{# each data.commitee}}
                    <a href="{{commiteeUrl slug}}">
                    <div class="commitee-member">
                        {{#if image.exists}}
                        <img class="banner" src="{{image}}"/>
                        {{/if}}
                        <h1 class="title name">{{name.full}}</h1>
                        {{{description}}}
                    </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

