.event{
    margin-top: 6rem;
    margin-bottom: 6rem;
    &.full-height{
        margin: 0;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
.event-link{
    &, &:active, &:focus{
        float: right;
        font-size: 2rem;
        display: inline-block;
        -webkit-box-shadow: inset 0 0 0 2px #f8f8f8;
        -moz-box-shadow: inset 0 0 0 2px #f8f8f8;
        box-shadow: inset 0 0 0 2px #f8f8f8;
        padding: 1rem;
        color: #f8f8f8;
        text-decoration: none;
    }
    &:hover{
        background-color: #f8f8f8;
        color: #3254a5;
        text-decoration: none;
        cursor: pointer;
        a, a:hover, a:active, a:focus{
            color: #3254a5;
            text-decoration: none;
        }
    }
}

.event{
    .location, .date, .description{
        margin-bottom: 2rem;
    }
    .location, .date{
        font-size: 2rem;
    }
    .description{
        font-size: 1.6rem;
    }
}