.navbar.navbar-default{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    padding-left: 10%;
    //padding-right: 10%;
    @media all and (max-width: 1024px) {
        padding-left: 3%;
        //padding-right: 3%;
    }
}
#footer {
    //margin-top: 2rem;
    //margin-bottom: .5rem;
    border-top: solid #fff 2px;
    height: 5rem;
    display: inline-block;
    width: 100%;
    .container{
        height: 100%;
        margin-top: 0;
        padding-top: 1.6rem;
    }
}
.navbar-brand{
    display: inline-block;
    padding: 0 15px;
    .logo{
        opacity: .7;
        height: 90%;
    }
    &:hover .logo{
        opacity: 1;
    }
}