body {
  background-image: url('/images/carbon-fibre.jpg');
  height: 100%;
  font-family: 'Arvo', serif; }

#body {
  padding-top: 52px;
  height: 100%;
  color: #eeeeee; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  background: rgba(0, 104, 139, 0.9);
  color: #f8f8f8; }
  .container.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden; }
  .container.full-width {
    width: 100%; }
  .container.full-height {
    min-height: 100%; }

.column {
  padding: 3rem; }

.section {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.title {
  margin-bottom: 6rem;
  margin-top: 6rem; }

.title.name {
  text-transform: capitalize; }

.banner {
  width: 100%; }

.navbar.navbar-default {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding-left: 10%; }
  @media all and (max-width: 1024px) {
    .navbar.navbar-default {
      padding-left: 3%; } }

#footer {
  border-top: solid #fff 2px;
  height: 5rem;
  display: inline-block;
  width: 100%; }
  #footer .container {
    height: 100%;
    margin-top: 0;
    padding-top: 1.6rem; }

.navbar-brand {
  display: inline-block;
  padding: 0 15px; }
  .navbar-brand .logo {
    opacity: 0.7;
    height: 90%; }
  .navbar-brand:hover .logo {
    opacity: 1; }

#default-display {
  text-align: left;
  position: absolute;
  top: 12rem;
  left: 18rem;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  @media all and (max-width: 1024px) {
    #default-display {
      position: static;
      width: 100%;
      text-align: center; } }
  #default-display.no-opacity {
    opacity: 0; }

#interactive-display {
  opacity: 0;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  #interactive-display.invisible {
    visibility: hidden; }
  #interactive-display > div {
    background: rgba(100, 100, 100, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #interactive-display .title.name {
    margin-bottom: 1rem; }
  #interactive-display.opaque {
    opacity: 1;
    visibility: visible; }
  @media all and (max-width: 1024px) {
    #interactive-display {
      display: none; } }

.committee {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.committee .title.name {
  margin-bottom: 1rem;
  height: 5.5rem; }

.committee-member-link, .committee-member-link:active, .committee-member-link:hover, .committee-member-link:visited, .committee-member-link:focus {
  display: inline-block;
  color: #f8f8f8;
  text-decoration: none;
  margin-bottom: 3rem;
  margin-top: 3rem; }
  @media all and (max-width: 1024px) {
    .committee-member-link, .committee-member-link:active, .committee-member-link:hover, .committee-member-link:visited, .committee-member-link:focus {
      width: 100%; } }

.committee-member {
  text-align: center; }

.profile-picture {
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #eeeeee; }

.square {
  height: 75px;
  width: 45%; }
  @media all and (max-width: 1024px) {
    .square {
      width: 75px; } }

.aspect-ratio {
  height: 130px;
  width: 45%; }
  @media all and (max-width: 1024px) {
    .aspect-ratio {
      width: 75px; } }

.description {
  line-height: 2.5rem; }

.position {
  height: 4rem; }
