body {
  background-image: url('/images/carbon-fibre.jpg');
  height: 100%;
  font-family: 'Arvo', serif; }

@media all and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem; }
 }

#body {
  padding-top: 52px;
  height: 100%;
  color: #eeeeee; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.all-white, .all-white:active, .all-white:hover, .all-white:visited, .all-white:focus {
  color: #f8f8f8;
  text-decoration: none; }
  .all-white.transparent, .all-white:active.transparent, .all-white:hover.transparent, .all-white:visited.transparent, .all-white:focus.transparent {
    opacity: 0.8; }

.all-white:hover {
  border-bottom: solid 1px; }
  .all-white:hover.transparent {
    opacity: 1; }

.container {
  background: rgba(0, 104, 139, 0.9);
  color: #f8f8f8; }
  .container.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden; }
  .container.full-width {
    width: 100%; }
  .container.full-height {
    min-height: 100%; }

.column {
  padding: 3rem; }

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5;
  font-size: 16px; }
  .section ul li {
    margin-bottom: 1rem; }

.title {
  margin-bottom: 6rem;
  margin-top: 6rem; }
  @media all and (max-width: 1024px) {
    .title {
      margin-top: 3rem;
      margin-bottom: 3rem; } }

.title.name {
  text-transform: capitalize; }

.banner {
  width: 100%;
  background-size: contain;
  background-position: 50% 50%; }
  .banner.limit-height {
    height: 20rem;
    height: 20vh; }
    .banner.limit-height.third {
      height: 30rem;
      height: 30vh; }
    .banner.limit-height.half {
      height: 50vh; }
    .banner.limit-height.three-quarter {
      height: 75vh; }

.blog, .events {
  padding-bottom: 11rem; }

.pagination-container {
  margin-top: -8rem;
  text-align: center; }

.pagination > li:not(.active) > .all-white {
  color: #428bca; }

.small {
  font-size: 1.5rem; }

.navbar.navbar-default {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding-left: 10%; }
  @media all and (max-width: 1024px) {
    .navbar.navbar-default {
      padding-left: 3%; } }

#footer {
  border-top: solid #fff 2px;
  height: 5rem;
  display: inline-block;
  width: 100%;
  margin-bottom: -1rem; }
  #footer .container {
    height: 100%;
    margin-top: 0;
    padding-top: 1.6rem; }

.navbar-brand {
  display: inline-block;
  padding: 0 15px; }
  .navbar-brand .logo {
    opacity: 0.7;
    height: 90%; }
  .navbar-brand:hover .logo {
    opacity: 1; }

#default-display {
  text-align: left;
  position: absolute;
  top: 12rem;
  left: 18rem;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  @media all and (max-width: 1024px) {
    #default-display {
      position: static;
      width: 100%;
      text-align: center;
      padding-top: 3rem; } }
  #default-display.no-opacity {
    opacity: 0; }

#interactive-display {
  opacity: 0;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  #interactive-display.invisible {
    visibility: hidden; }
  #interactive-display > div {
    background: rgba(100, 100, 100, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #interactive-display .title.name {
    margin-bottom: 1rem; }
  #interactive-display.opaque {
    opacity: 1;
    visibility: visible; }
  @media all and (max-width: 1024px) {
    #interactive-display {
      display: none; } }

.committee {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.committee .title.name {
  margin-bottom: 1rem;
  height: 5.5rem; }

.committee-member-link, .committee-member-link:active, .committee-member-link:hover, .committee-member-link:visited, .committee-member-link:focus {
  display: inline-block;
  color: #f8f8f8;
  text-decoration: none;
  margin-bottom: 3rem;
  margin-top: 3rem; }
  @media all and (max-width: 1024px) {
    .committee-member-link, .committee-member-link:active, .committee-member-link:hover, .committee-member-link:visited, .committee-member-link:focus {
      width: 100%; } }

.committee-member {
  text-align: center; }
  @media all and (max-width: 1024px) {
    .committee-member {
      border-bottom: solid 2px; } }

.profile-picture {
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #eeeeee; }

.square {
  height: 75px;
  width: 45%; }
  @media all and (max-width: 1024px) {
    .square {
      width: 75px; } }

.aspect-ratio {
  height: 130px;
  width: 45%; }
  @media all and (max-width: 1024px) {
    .aspect-ratio {
      width: 75px; } }

.description {
  line-height: 2.5rem; }

.position {
  height: 4rem; }

.speakers {
  padding: 6rem 0; }
  @media all and (min-width: 624px) {
    .speakers {
      text-align: justify; } }

.picture-container {
  text-align: center;
  display: inline-block;
  float: left;
  height: 100%;
  padding-top: 2rem;
  margin-right: 3%; }
  @media all and (max-width: 1024px) {
    .picture-container {
      margin-right: 0;
      width: 100%; } }

.speaker .profile-picture {
  width: 145px;
  height: 200px; }

.speaker .name {
  padding-left: 0;
  float: left; }
  .speaker .name:after {
    content: '-';
    margin-left: 1rem;
    margin-right: 1rem; }

.speaker .position {
  float: left;
  float: none;
  height: 5rem;
  overflow: hidden; }

.speaker {
  display: inline-block;
  padding-bottom: 3rem;
  border-bottom: solid 2px; }
  @media all and (max-width: 1024px) {
    .speaker {
      padding: 3rem 6rem; } }

.event {
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .event.full-height {
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 6rem; }

.event-link, .event-link:active, .event-link:focus {
  float: right;
  font-size: 2rem;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 2px #f8f8f8;
  -moz-box-shadow: inset 0 0 0 2px #f8f8f8;
  box-shadow: inset 0 0 0 2px #f8f8f8;
  padding: 1rem;
  color: #f8f8f8;
  text-decoration: none; }
.event-link:hover {
  background-color: #f8f8f8;
  color: #3254a5;
  text-decoration: none;
  cursor: pointer; }
  .event-link:hover a, .event-link:hover a:hover, .event-link:hover a:active, .event-link:hover a:focus {
    color: #3254a5;
    text-decoration: none; }

.event .location, .event .date, .event .description {
  margin-bottom: 2rem; }
.event .location, .event .date {
  font-size: 2rem; }
.event .description {
  font-size: 1.6rem; }
